* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    font-family: Arial;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("assets/bg.webp.webp");
    background-size: cover;
    background-position: center;
}